* {
    box-sizing: border-box;
    font-family: Poppins, helvetica, sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    background-color: #1A1A40;
}

/* ALL SECTIONS STYLE */
#home-section, #services-section, #projects-section {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    min-height: 85vh;
    padding: 2.5rem 1.5rem;
    width: 100%;
}

.section-name {
    border-bottom: 2px solid #FA58B6;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 800;
    letter-spacing: 0.15rem;
    text-align: center;
    text-transform: uppercase;
}

/* HOME SECTION STYLE */
nav {
    align-items: center;
    background-color: #1A1A40;
    color: #f5f5f5;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.navbar {
    display: none;
}

.logo, .name {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.15rem;
}

.menu {
    font-size: 1.05rem;
    padding-left: 1rem;
}

.content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: auto;
    width: 95%;
}

.info {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    gap: 1.2rem 0;
    justify-content: center;
}

.name {
    color: #f5f5f5;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.aboutMe, .hireMe {
    color: #f5f5f5e6;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    line-height: 1.4rem;
}

.aboutMe span {
    font-size: 1rem;
    font-weight: 700;
}

.hireMe {
    background-color: #FA58B6;
    border: none;
    border-radius: 0.2rem;
    box-shadow: 0px 4px #6c63ffb3;
    color: #1A1A40;
    font-size: 0.9rem;
    font-weight: 600;
    line-height:normal;
    padding: 0.4rem 1rem;
    text-align: center;
    text-transform: uppercase;
    width: fit-content;
}

.icons {
    align-items: flex-start;
    column-gap: 0.75rem;
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.05rem;
    justify-content: flex-start;
}

.icons a {
    color: #f5f5f5;
    transition: color 0ms ,transform 0.4ms ease-in-out;
}

.icons a:hover {
    color: #FA58B6;
    transform: scale(1.3);
}

.welcome {
    display: none;
}

/* SERVICES SECTION STYLE */
.all-services {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    gap: 6rem 6rem;
    justify-content: center;
    padding: 6rem 0 6rem;
}

.service {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.4rem 0;
    height: auto;
    justify-content: center;
    max-width: 300px;
}

.service-picture {
    height: auto;
    margin-bottom: 0.8rem;
    max-width: 85px;   
}

.service-picture.first {
    height: auto;
    max-width: 95px;
}

.service-name {
    color: #f5f5f5;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.08rem;
    text-align: center;
    text-transform: uppercase;
}

.service-description {
    color: #f5f5f5e6;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.08rem;
    line-height: 1.4rem;
    padding: 0 2rem;
    text-align: center;
}

/* PROJECTS SECTION STYLE */
.section-note {
    color: #f5f5f5b3;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.15rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0.8rem;
}

.projects {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 4rem 2rem;
    padding: 6rem 2rem;
}

.project {
    background-color: #2b2b6e70;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.3rem;
    max-width: 350px;
    padding: 2rem;
}

.project-name {
    color: #FA58B6;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.08rem;
    mix-blend-mode: color-dodge;
}

.project-techs {
    color: #F5f5f5;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.08rem;
    margin-top: 0.4rem;
}

.project-description {
    color: #f5f5f5e6;
    font-weight: 300;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    line-height: 1.4rem;
    margin-top: 0.5rem;
}

.icon-link-ext {
    align-self: flex-end;
    color: #FA58B6;
    mix-blend-mode: color-dodge;
}

@media (min-width: 769px) {
    .menu {
        display: none;
    }
    .navbar {
        align-items: center;
        column-gap: 2.5rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }

    .navbar li a {
        color: #fff;
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.08rem;
        padding: 0.5rem 0.25rem;
        transition: border-bottom 0.4ms ease-in-out;
    }

    .navbar li a:hover {
        border-bottom: 2px solid #FA58B6;
    }

    .info {
        max-width: 55%;
    }

    .welcome {
        display: block;
        height: auto;
        max-width: 35%;
    }
}

@media (min-width: 1025px) {
    #home-section {
        min-height: fit-content;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .content {
        margin: 10rem auto 5rem;
    }

    #services-section {
        min-height: fit-content;
    }
    .all-services {
        align-items: flex-end;
        flex-wrap: nowrap;
        padding-bottom: 10rem;
        padding-top: 10rem;
    }
    .service-picture {
        max-width: 85px;
    }
}

@media (min-width: 1201px) {
    #home-section {
        padding-left: 18vw;
        padding-right: 18vw;
    }
    #services-section, #projects-section {
        padding-left: 8vw;
        padding-right: 8vw;
    } 
    .welcome {
        max-width: 40vmin;
    }

    * {
        font-size: 1.1rem;
    }
}