* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Poppins, helvetica, sans-serif;
    scroll-behavior: smooth;
}

html {
    height: 100vh;
}

.firstSection {
    background-color: #1A1A40;
    width: 100%;
    min-height: 100vh;
    padding: 2rem 18vw 2rem;
    display: flex;
    flex-flow: column nowrap;
}

.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-weight: 800;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.13rem;
}

.menu {
    display: none;
}

.nav-list {
    display: flex;
    flex-flow: row wrap;
    gap: 3rem;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
}

.nav-list a {
    color: #fff;
    padding: 0.5rem;
    transition: border-bottom 0.3s easy-in-out;
}

.nav-list a:hover {
    border-bottom: 2.5px solid #FA58B6;
}

.content {
    margin: auto 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
}

.desc {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    row-gap: 1.5rem;
    color: #fff;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
    text-transform: capitalize;
    letter-spacing: 0.04rem;
    word-spacing: 0.05rem;
}

.info {
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    letter-spacing: 0.04rem;
    word-spacing: 0.05rem;
    line-height: 2rem;
}

.hireme {
    width: 7.1rem;
    height: fit-content;
    padding: .4rem .8rem;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.11rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    background-color: #FA58B6;
    border:0;
    border-radius: 0.2rem;
}

.hireme a {
    color: #1A1A40;
}

.helloImg {
    max-width: 40%;
    width: 40%;
    height: auto;
}

.icons {
    display: flex;
    column-gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
}

.icons a {
    color: #fff;
    padding: .2rem;
    font-size: 1.1rem;
    transition: transform 0.3s easy-in-out;
}

.icons a:hover {
    transform: scale(1.5);
}

.secondSection {
    background-color: #fff;
    width: 100%;
    padding: 6rem 18vw 6rem;
    display: flex;
    flex-flow: column nowrap;
}

.Skills {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.Skills h4 {
    height: 1.8rem;
    width: 100%;
    margin-bottom: 7.5rem;
    font-weight: 500;
    text-align: center;
    color: #1A1A40;
    border-bottom: 1px solid #1A1A40;
}

.Skills h4 span {
    background-color: #fff;
    padding: 0 10px;
    font-size: 2.5rem;
}

.webDev, .design {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 8vw;
}

.webDevImg, .designImg {
    max-width: 40%;
    width: 40%;
    height: auto;
}
.webDevDesc, .designDesc {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 40%;
    width: 40%;
    height: auto;
    text-align: center;
}

.webDev {
    margin-bottom: 12rem;
}

.design {
    margin-bottom: 6rem;
    flex-direction: row-reverse;
}

h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 186.5%;
    color: #1A1A40;
    margin-bottom: 0.2rem;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 1.05rem;
    line-height: 186.5%;
}

@media (max-width: 1200px) {
    .firstSection, .secondSection {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .webDev, .design {
        column-gap: 5vw;
    }

    .helloImg {
        width: 40vmin;
        max-width: 50vmin;
        height: auto;
    }
    .webDevImg, .designImg {
        width: 42vmin;
        max-width: 50vmin;
        height: auto;
    }
    .webDevDesc, .designDesc {
        min-width: 40vmin;
        width: 50vmin;
        max-width: 60vmin;
    }
}

@media (max-width:768px) {
    .nav-list li {
        display: none;
    }

    .logo_menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu {
        display: flex;
        font-size: 1.5rem;
        color: white;
    }
    .firstSection, .secondSection {
        padding-left: 6vw;
        padding-right: 6vw;
    }

    .helloImg {
        min-width: 300px;
        width: 55vmin;
        max-width: 60vmin;
    }

    .desc {
        min-width: 60vmin;
        width: 70vmin;
        max-width: 80vmin;
        align-items: center;
        text-align: center;
    }

    .content {
        flex-wrap: wrap-reverse;
        justify-content: center;
        row-gap: 4rem;
    }

    button, .icons {
        margin-left: auto;
        margin-right: auto;
    }

    .webDev, .design {
        flex-wrap: wrap;
        row-gap: 2.5vw;
    }

    .webDevImg, .designImg {
        width: 40vmin;
        max-width: 50vmin;
        height: auto;
    }

    .webDevDesc, .designDesc {
        min-width: 40vmin;
        width: 50vmin;
        max-width: 60vmin;
    }
}

@media (max-width: 480px) {
    .firstSection, .secondSection {
        padding-left: 4vw;
        padding-right: 4vw;
    }

    .webDev, .design {
        flex-wrap: wrap;
        row-gap: 2.5vw;
    }

    .webDevImg, .designImg {
        width: 50vmin;
        max-width: 50vmin;
        height: auto;
    }

    .webDevDesc, .designDesc {
        min-width: 40vmin;
        width: 50vmin;
        max-width: 60vmin;
    }
}