@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Poppins, helvetica, sans-serif;
}

section {
    background-color: #1A1A40;
    min-height: 100vh;
    width: 100%;
    padding: 2rem 20vw;
    display: flex;
    flex-flow: column nowrap;
}

.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-weight: 800;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.12rem;
}

.nav-list {
    display: flex;
    flex-flow: row wrap;
    gap: 3rem;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.04rem;
}

.nav-list a {
    color: #fff;
}
.content {
    margin-top: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.desc {
    max-width: 50%;
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    color: #fff;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
    text-transform: capitalize;
    letter-spacing: 0.04rem;
}

h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    letter-spacing: 0.04rem;
}

.hireme {
    width: fit-content;
    height: fit-content;
    margin-top: 1rem;
    padding: .4rem .8rem;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.11rem;
    letter-spacing: 0.04rem;
    background-color: #FA58B6;
    border:0;
    border-radius: 0.2rem;
}

.hireme a {
    color: #1A1A40;
}

img {
    width: 350px;
    height: auto;
}